submissions/IgorGanapolsky/github-weekly-summary.json
{
  "nodes": [
    {
      "parameters": {
        "rule": "crontab",
        "value": "0 17 * * 5"
      },
      "id": "c6a2c3a5-1234-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "resource": "commit",
        "operation": "getAll",
        "owner": "={{ $vars.GITHUB_REPO_OWNER }}",
        "repository": "={{ $vars.GITHUB_REPO_NAME }}",
        "returnAll": true,
        "filters": {
          "since": "={{ $now.minus({ days: 7 }).toISO() }}"
        }
      },
      "id": "d7b3d4b6-2345-5b6c-7d8e-9f0a1b2c3d4e",
      "name": "Get Commits",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "owner": "={{ $vars.GITHUB_REPO_OWNER }}",
        "repository": "={{ $vars.GITHUB_REPO_NAME }}",
        "returnAll": true,
        "filters": {
          "state": "closed",
          "since": "={{ $now.minus({ days: 7 }).toISO() }}"
        }
      },
      "id": "e8c4e5c7-3456-6c7d-8e9f-0a1b2c3d4e5f",
      "name": "Get Closed Issues",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [600, 350]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "prompt": "=Generate a weekly narrative summary of activity for the repo {{ $vars.GITHUB_REPO_NAME }}.\n\nLanguage: {{ $vars.LANGUAGE || 'EN' }}\n\nCommits this week:\n{{ $node[\"Get Commits\"].json }}\n\nClosed Issues:\n{{ $node[\"Get Closed Issues\"].json }}\n\nHighlight key achievements and blockers. Focus on a narrative tone, not just a list.",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "f9d5f6d8-4567-7d8e-9f0a-1b2c3d4e5f6a",
      "name": "Claude AI Summarizer",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"content\": \"{{ $node[\\\"Claude AI Summarizer\\\"].json[\\\"text\\\"] }}\" }"
      },
      "id": "a0e6a7e9-5678-8e9f-0a1b-2c3d4e5f6a7b",
      "name": "Send to Discord/Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Closed Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commits": {
      "main": [
        [
          {
            "node": "Claude AI Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Closed Issues": {
      "main": [
        [
          {
            "node": "Claude AI Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Summarizer": {
      "main": [
        [
          {
            "node": "Send to Discord/Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
